<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD3OrMXTUFO6vADFF_l6786RDv7fTs9S0</string>
	<key>GCM_SENDER_ID</key>
	<string>790182096531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.stimulusquizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-5566d</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-5566d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790182096531:ios:06a56963cb10c9b6b96766</string>
</dict>
</plist>